@import '../../../common.styl'

.screenWrapper
  padding 28px

.screen
  background white
  border-radius .5rem
  padding 1rem
  coolScrollbar()
  h3 
    font-size 1.25rem
  h5
    text-align: center


.items
  display block

.custom
  display flex
  flex-direction column
  gap 1rem
  margin: 0 28px
  

.row
  display flex
  align-items center
  gap: 1rem
  width: 100%